@import url('https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Foundation:wght@400;500;600;700&family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    font-family: 'Shantell Sans', cursive;
}

.bg{
    background-color: #FBF1D3;
}
.bi{
    color: black;
}
.credit{
    font-size: 15px;
}
.footer{
    margin-top: 80px;
    font-size: 20px;
    text-align: center;
}
.bg2{
    margin-top: 100px;
    background-color: #ffffff;
}
.bg3{
    margin-top: 100px;
    background-color: #f2efeb;
}
.img {
    margin-top: 10px;
}

.container-fluid.two {
    box-shadow: 0 -0.3rem 0.5rem rgb(0 0 0 / 30%)
}

.form-select {
    width: 200px;
    margin-left: auto;
    margin-right: 100px;
}

.dropdown-menu.show {
    display: flex;
    padding: 0;
    flex-direction: column;
    gap: 20px;
}

/* footer */
.bg {
    background-color: #FBF1D3
}

#footer {
    background: #fff;
    padding: 0 0 10px 0;
    color: #444444;
    font-size: 14px;
    background: #FBF1D3;
}



#footer .footer-top {
    padding: 20px 0 5px 0;
    background: #fff;
}

#footer .footer-top .footer-contact {
    margin-bottom: 20px;
}

#footer .footer-top .footer-contact h3 {
    font-size: 24px;
    margin: 0 0 15px 0;
    padding: 2px 0 2px 210px;
    line-height: 1;
    font-weight: 700;
}

#footer .footer-top .footer-contact h3 span {
    color: #106eea;
}

#footer .footer-top .footer-contact p {
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 0;
    font-family: "Roboto", sans-serif;
    color: #090808;
    margin-left: 235px;
}

#footer .footer-top h4 {
    font-size: 16px;
    font-weight: bold;
    color: #444444;
    position: relative;
    padding-bottom: 12px;
}

#footer .footer-top .footer-links {
    margin-bottom: 70px;
}

#footer .footer-top .footer-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#footer .footer-top .footer-links ul i {
    padding-right: 2px;
    color: #106eea;
    font-size: 18px;
    line-height: 1;
}

#footer .footer-top .footer-links ul li {
    padding: 10px 0;
    display: flex;
    align-items: center;
}

#footer .footer-top .footer-links ul li:first-child {
    padding-top: 0;
}

#footer .footer-top .footer-links ul a {
    color: #777777;
    transition: 0.3s;
    display: inline-block;
    line-height: 1;
}

#footer .footer-top .footer-links ul a:hover {
    text-decoration: none;
    color: #106eea;
}

#footer .footer-top .social-links a {
    font-size: 18px;
    display: inline-block;
    background: #FFB84C;
    color: #fff;
    line-height: 1;
    padding: 8px 0;
    margin-right: 4px;
    border-radius: 4px;
    text-align: center;
    width: 36px;
    height: 36px;
    transition: 0.3s;
}

#footer .footer-top .social-links a:hover {
    background: #FFD966;
    color: #fff;
    text-decoration: none;
}

#footer .copyright {
    text-align: center;
    float: center;
}


@media (max-width: 768px) {

    #footer .copyright,
    #footer .credits {
        float: none;
        text-align: center;
        padding: 2px 0;
    }
}
/* end */